@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-border-color: #005ac7;
  --primary-info-bg-color: #dbcdb5;
  --primary-label-bg-color: #ffefd2;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-col {
  flex-flow: column nowrap;
}

.flex-row {
  flex-flow: row nowrap;
}

.flex-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.m-all {
  margin: 15px;
}

.m-top {
  margin-top: 15px;
}

.m-btm {
  margin-bottom: 15px;
}

.m-left {
  margin-left: 15px;
}

.m-right {
  margin-right: 15px;
}

/* Custom CSS */

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
}

#container {
  max-width: 1024px;
  width: 320px;
}

#page-title {
  padding: 15px auto;
}

#page-title h2 {
  padding: 6px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 22px;
  border: 12px solid var(--primary-border-color);
  border-bottom: 18px solid var(--primary-border-color);
}

#patient-id {
  padding-right: 2px;
  margin-bottom: 20px;
  text-align: right;
  font-size: 12px;
  color: rgb(143, 143, 143);
}

#patient-img {
  margin-bottom: 20px;
}

#image {
  width: 200px;
  padding: 15px 45px;
  border: 1px dashed #b6b6b6;
}

#patient-info {
  flex: 0 0 320px;
}

#patient-label label {
  text-align: right;
  display: block;
  margin: 16px 0px;
  font-weight: bold;
}

#patient-label {
  background-color: var(--primary-label-bg-color);
  flex: 1 0 calc(30% - 10px);
  padding: 0 10px 50px 10px;
}

#patient-details {
  background-color: var(--primary-info-bg-color);
  flex: 4 0 calc(70% - 10px);
  padding: 0 0 50px 10px;
}

#patient-details p {
  font-weight: 400;
}

#footer {
  flex: 1 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #b8a88e;
}

#footer a {
  text-decoration: none;
  font-weight: bold;
  color: #2c2c2c;
  width: calc(50% - 10px);
  height: 100%;
  border-radius: 3px;
  background-color: #a39681;
  box-shadow: 0 0 3px #2c2c2c;
  transition: box-shadow 0.3s ease-out;
}

#footer a:hover {
  box-shadow: 0 0 6px #004175;
}

@media screen and (min-width: 426px) {
  body {
    padding-top: 15px;
  }

  #container {
    box-shadow: 0 5px 10px #707070;
    border-radius: 5px;
    width: 400px;
  }

  #footer {
    height: 80px;
  }

  #footer a {
    margin-top: 5px;
    height: 22px;
  }

  .flex-row {
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 300px) and (max-width: 426px) {
  body {
    padding: 0;
    margin: 0;
  }

  #page-title h2 {
    margin: 0;
  }

  #footer {
    height: 80px;
  }

  #footer a {
    margin-top: 5px;
    height: 22px;
  }

  .flex-row {
    flex-flow: row wrap;
  }
}

@media screen and (min-width: 321px) and (max-width: 426px) {
  #container {
    width: 100%;
  }

  #patient-info {
    flex: 1 0 auto;
  }
}
